:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
img,
picture,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* -------- Reset Above -------- */

#root {
  height: 100vh;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: hsl(300, 3%, 6%);
  color: hsl(300, 28%, 93%);
  --card-size: 220px;
}
Header {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
}
.headerContainer {
  max-width: 976px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
header.left {
}
.headerContainer .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  min-width: 125px;
}
main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
}

.cardContainer {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  gap: 2%;
  max-width: 1000px;
  padding-bottom: 100%;
}

.card {
  aspect-ratio: 1/1;
}

.card:active {
  transform: scale(95%);
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 663px) {
  main {
    padding: 0.5rem;
  }
  header {
    padding: 0.5rem;
  }
  .headerContainer .left {
    max-width: 290px;
  }
  .cardContainer {
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  }
}
